<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>dependence Vue</title>
  <script src="../vue.js"></script>
</head>
<body>
  <h1>dependence</h1>
  <div id="box">
    <p>{{age}}</p>
  </div>
  <script>
    var vm1 = new Vue({
      el: '#box',
      data: {
        age: 12
      },
      computed: {
        age2() {
          return this.age * 2;
        }
      }
    });
  </script>
</body>
</html>
