<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VUE toast</title>
  <script src="../vue.js"></script>
  <style>
    body {
      background-color: #727f80;
    }
    .fade-enter,
    .fade-leave-to {
      opacity: 0;
    }
    .fade-enter-active,
    .fade-leave-active {
      transition: all ease-in 1.5s;
    }
    .toast,
    .text {
      color: #fff;
    }
  </style>
</head>
<body>
  <div id="box">
    <progress max="100"  :value="progress">56%</progress>
    <button @click="clickHandle">点击</button>
    <transition name="fade">
      <p v-show="visible" class="text">{{msg}}</p>
    </transition>
  </div>
  <script>
    function printObj(obj) {
      var back = {};
      // for (var i in obj) {
      //   back[i] = (typeof obj[i] === 'object' ? `--------${i}` : obj[i]);
      // }
      // console.log(JSON.stringify(back, null, 2));
      // console.log(obj);

    }
    var box = document.getElementById('box');
    var vms = [];
    var vm1 = new Vue({
      el: box,
      data: {
        visible: false,
        msg: '这是一个message',
        progress: 50
      },
      methods: {
        clickHandle: function () {
          console.log();
          this.visible = !this.visible;
          vms.push(showToast('-/-/-|-'));
          this.progressAdd();
        },
        progressAdd: function (tip) {
          this.progress += tip || 0.1;
        }
      },
      beforeCreate() {
        printObj(this);
      },
      created: function () {
        printObj(this);
        var _this = this;
        var timer = setInterval(function() {
          _this.progressAdd();
          if (_this.progress >= 100) {
            clearInterval(timer);
          }
        }, 100);

      },
      beforeMount() {
        printObj(this);
      },
      mounted() {
        printObj(this);
      },
    });
    var vm2 = new Vue({});
    var Toast = Vue.extend({
      template: '<transition name="fade"><p class="toast" v-show="visible">{{message}}</p></transition>',
      data: function () {
        return {
          visible: false
        }
      },
      props: {
        message: {
          type: String,
          default: '默认信息'
        }
      }
    });

    function showToast(msg) {
      var instance = new Toast({
        el: document.createElement('div')
      });
      instance.message = msg;
      document.body.appendChild(instance.$el);
      Vue.nextTick(() => {
        instance.visible = true;
      });
      return instance;
    }


  </script>
</body>
</html>
